source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FSharp.Data.SqlClient
  nuget Suave
  nuget Newtonsoft.Json
  nuget Orleankka.FSharp
  nuget Microsoft.Owin
  nuget Mono.Cecil
  nuget Owin
  nuget WebSharper
  nuget WebSharper.Owin
  nuget WebSharper.Suave
  nuget WebSharper.UI.Next

  github fsharp/FAKE modules/Octokit/Octokit.fsx
  github haf/YoLo YoLo.fs

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
